<h1>All Reviews</h1>

<section class="reviews">
<% @reviews.each do |review| %>
<article class="review">
  <h2> Reviewed by: <%= review.name %></h2>
  <h4><%= review.relationship %></h4>
  <ul>
    <li>
      <%= review.text %>
    </li>
    <li>

    </li>
    <li>
      Rating: <%= review.rating %> out of 5
    </li>
  </ul>
</article>
<%end%>
</section>
<%= link_to "Add a New Review", new_review_path %>
