<h1>All Reviews</h1>

<section class="reviews">
<% @reviews.each do |review| %>
<article class="review">
  <h2> Reviewed by: <%= review.name %></h2>
  <h4><%= review.relationship %></h4>
  <p>
    <%= "#{review.text} " %><span class="rating"><%= review.rating %> out of 5</span>
  </p>

</article>
<%end%>
<%= link_to "Add a New Review", new_review_path, class:"button center large-12 small-12" %>
</section>
