<h1>Add a New Review of Kayla!</h1>

<section>
  <%= form_for @review do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name, defualt:"What's your name?"%>

  <%= f.label :text %>
  <%= f.text_area :text, default:"Your review goes here!"%>

  <%= f.label :relationship, "Relationship to Kayla?" %>
  <%= f.text_area :relationship, default:"Relationship to Kayla?" %>

  <%= f.label :rating, "Rating (1-5)"%>
  <%= f.text_area :rating, default:"Rating (1-5)" %>

  <%= f.submit class:"button" %>

  <%end%>
</section>
