<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "Home is Where Ever I'm with You", homepage_path, class:"button"%>
      <%= link_to "25 Things I Love About You", loves_path, class:"button" %>
      <%= link_to "Reviews of Kayla", reviews_path, class:"button" %>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
