<!DOCTYPE html>
<html>
  <head>
    <title>Kebj</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "25 Things I Love about You", loves_path, class:"button" %>
      <%= link_to "What People are Saying", reviews_path, class:"button" %>
      <%= link_to "Timeline", resume_path, class:"button" %>
    </nav>
    <%= yield %>
  </body>
</html>
