<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Kayla E.B. Jackson" %></title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="row centered">
      <%= link_to "Home is Wherever I'm with You", homepage_path, class:"button small-12 large-3"%>
      <%= link_to "25 Things I Love About You", loves_path, class:"button small-12 large-3" %>
      <%= link_to "Reviews of Kayla", reviews_path, class:"button small-12 large-3" %>
    </nav>

    <main class="colum centered small-12 large-8">
      <%= yield %>
    </main>
  </body>
</html>
